{% extends "network/layout.html" %}

{% load static %}
{% load humanize %}

{% block nav %}
    <a style="font-weight: 600;" class="btn btn-light" href="{% url 'index' %}">All Posts</a>
    <a class="btn btn-dark" href="{% url 'following' %}">Following</a>
{% endblock %}

{% block body %}
    <div class="col-6 ms-2 me-2">
        <h2>All Posts</h2>
        <hr>

        <div class="post-list">
            {% for post in posts %}
                <div class="row posts">
                    <div class="row">
                        <div class="col-auto">
                            {% if post.creator.profile.profile_pic.url != None %}
                                <img class="profile-pic-post" src="{{ post.creator.profile.profile_pic.url }}" alt="Profile Picture">
                            {% else %}
                                <img class="profile-pic-post" src="{% static 'network/media/default-profile-picture.jpg' %}" alt="Profile Picture">
                            {% endif %}
                        </div>

                        <div class="col-auto">
                            <div class="row profile-name-post">
                                {{ post.creator.first_name }}
                                {{ post.creator.last_name }}
                            </div>
                            <div class="row">
                                <a class="profile-username-post" href="{% url 'profile' id=post.creator.pk %}">@{{ post.creator.username }}</a>
                            </div>
                        </div>
                        <div class="col time">
                            ・{{ post.timestamp|naturaltime }}
                        </div>

                        <div class="col d-grid gap-2 d-md-flex justify-content-md-end pe-0" id="toolbar-buttons">
                            {% if request.user.pk in post.liked_users %}
                                <button class="material-icons-round btn btn-bg-transparent p-0 like-button" id="like-button" data-post-id="{{ post.pk }}">
                                    favorite
                                </button>
                            {% else %}
                                <button class="material-icons-round btn btn-bg-transparent p-0 unlike-button" id="like-button" data-post-id="{{ post.pk }}">
                                    favorite_border
                                </button>
                            {% endif %}
                            <span class="like-count" id="like-count-{{ post.pk }}">{{ post.likes.count }}</span>

                            {% if request.user == post.creator %}
                                <button class="material-icons btn btn-bg-transparent pt-0 pb-0 p-2 edit-button" id="edit-button" data-post-id="{{ post.pk }}">
                                    edit_note
                                </button>
                                <button hidden class="material-icons btn btn-bg-transparent pt-0 pb-0 p-2 edit-button" id="save-button-{{ post.pk }}">
                                    done
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row content-post" id="content-{{ post.pk }}">
                        {{ post.content }}
                    </div>
                    <textarea autofocus hidden class="bg-transparent edit-textarea ms-3 mt-3" id="textarea-{{ post.pk }}">{{ post.content }}</textarea>
                </div>
            {% endfor %}
        </div>

        <nav class="nav justify-content-center">
            <ul class="pagination m-0 mt-3">

                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled   ">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>

    <div class="col">
        <div class="row justify-content-end align-items-center">
            <div class="col-auto">
                {% if user.profile.profile_pic.url != None %}
                    <img class="profile-pic" src="{{ user.profile.profile_pic.url }}" alt="Profile Picture">
                {% else %}
                    <img class="profile-pic" src="{% static 'network/media/default-profile-picture.jpg' %}" alt="Profile Picture">
                {% endif %}
            </div>

            <div class="col-auto">
                <div class="row profile-name">
                    {{ request.user.first_name }}
                    {{ request.user.last_name }}
                </div>
                <div class="row">
                    <a class="profile-username" href="{% url 'profile' id=user.pk %}">@{{ request.user.username }}</a>
                </div>
            </div>
            <div style="text-align: end;" class="col">
                <a class="btn btn-sm btn-outline-light ms-3" href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
        <div class="row mt-3">
            <h4>Write something.</h4>
            <form class="new-post" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <textarea class="form-control new-post-text" rows="4" name="content" required></textarea>
                <button type="submit" class="btn btn-secondary rounded-pill mt-2 ps-4 pe-4">Post</button>
            </form>
        </div>
    </div>
    
{% endblock %}