{% extends "network/layout-authentication.html" %}

{% block body %}

    <div class="row justify-content-center">
        <h3 style="width: auto;" id="login-title">Login</h3>
    </div>
    <hr>

    <form action="{% url 'login' %}" method="post" class="login-form">
        {% csrf_token %}

        {% if message %}
            <div class="error-message">{{ message }}</div>
        {% endif %}

        <div class="form-floating mt-5 mb-3">
            <input autofocus class="form-control" id="floatingInput" type="text" name="username" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="floatingInput" type="password" name="password" placeholder="Password">
            <label for="floatingInput">Password</label>
        </div>

        <div class="row mt-4">
            <div class="col"><a class="btn bg-transparent ps-0 pe-0" href="{% url 'register' %}" style="color: #1858ee;">Create Account</a></div>
            <div class="col-auto"><input class="btn btn-primary" type="submit" value="Login"></div>
        </div>
    </form>

{% endblock %}